* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
}

:is(.calc, .editors, .operators, .screen) {
	display: grid;
	gap: 1px;
}

:is(.screen, input, .calc) {
	background-color: black;
	color: white;
}

:is(input, button) {
	font-family: inherit;
	font-size: inherit;
}

.calc {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 8vw;
	width: 100vw;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 50vw repeat(5, 20vw);
}

.screen {
	grid-column: span 3;
	align-self: center;
	width: 100%;
	text-align: right;
	border-style: none;
}

button {
	background-color: #d8d9db;
	border-style: none;
	font-weight: bold;
}

.editors {
	grid-column-start: span 3;
	grid-template-columns: repeat(3, 1fr);
}

.operators {
	grid-row-start: span 5;
}

.editors button {
	background-color: #d6d6d6ea;
}

.operators button {
	background-color: #df974c;
	color: white;
}

:is(button:hover, button:active) {
	background-color: #ebebeb;
	color: black;
}

.double {
	grid-column: span 2;
}

.triple {
	grid-column: span 3;
}

@media (min-width: 25rem) {
	.calc {
		font-size: 2rem;
		width: 25rem;
		grid-template-rows: 12.5rem repeat(5, 5rem);
	}
}
